html { 
	color: #000; background-color: #000; 
	font-family: "Helvetica Neue","Helvetica",sans-serif;
	line-height: 150%;	
	padding: 10px 25px;
	margin:0;
	cursor:default;
}

a{
	text-decoration: none;
}

.content {
    position: relative;
    z-index: 10;
}

#light {
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    position: absolute;
    background-color: rgba(255, 255, 100, 0.8);

    -moz-box-shadow:0px 0px 20px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
	box-shadow:0px 0px 20px yellow;
}

#home-container{
	text-align: center;
	/*margin-top: 40px;*/	
}

#title{
	/*font-family: Georgia, serif;*/	
	font-size: 60px;
	line-height: 45px;
	font-weight: bold;
	-webkit-transition:  0.5s linear;
        -moz-transition: 0.5s linear;
        -ms-transition:  0.5s linear;
        -o-transition:   0.5s linear;
        transition:      0.5s linear;
}

.header{
	text-transform: uppercase;	
	font-family: 'Arial Narrow', sans-serif;
	font-size: 40px;	
}
.header2{
	text-transform: uppercase;	
	font-family: 'Arial Narrow', sans-serif;
	font-size: 20px;
}

.btn{
	border-style: dashed;
	border-width: 1px;
	border-color: #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius:4px;
	padding:10px 20px;
	margin:10px 20px;	
	text-transform: uppercase;	
	font-family: 'Arial Narrow', sans-serif;
	font-size: 25px;	
	text-shadow: 1px 1px 1px #000;	
	background-color:#000;

	-webkit-transition:  0.5s linear;
        -moz-transition: 0.5s linear;
        -ms-transition:  0.5s linear;
        -o-transition:   0.5s linear;
        transition:      0.5s linear;
}

.btn:hover{
	border-style: dashed;
	border-width: 2px;
	border-color:#0df;	
}